services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: backend
    environment:
      - MONGO_URI=mongodb://mongodb:27017/fullstack_demo
      # - MONGO_URI=mongodb://host.docker.internal:27017/fullstack_demo
    depends_on:
      - mongodb
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    command: npm start

volumes:
  mongo_data:
